---
---

<!DOCTYPE html>

<html>

  <head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-161272943-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-161272943-1');
    </script>

    <meta charset="utf-8"/>
    <title>John Hadaway</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/style/default.css">
    <meta content="width=device-width, initial-scale=1" name="viewport">

  </head>

  <body>
    <span class="corner-nav-tl corner-nav noselect bold-weight">John Hadaway</span>
    <span class="corner-nav-cl thin-weight mobile-hide corner-nav noselect">
      <a class="block" href="{{site.baseurl}}/about">About</a>
      <a class="active block" href="{{site.baseurl}}/projects">Projects</a>
      <a class="block" href="https://johnhadaway.substack.com">Blog</a>
    </span>
    <span class="corner-nav-tr thin-weight mobile-show corner-nav noselect">
      <a class="" href="{{site.baseurl}}/about">About</a>&nbsp;
      <a class="active" href="{{site.baseurl}}/projects">Projects</a>&nbsp;
      <a class="" href="https://johnhadaway.substack.com">Blog</a>
    </span>
    <span class="corner-nav-bl thin-weight corner-nav noselect">
      <a class="" href="https://twitter.com/john___hadaway" target="_blank">Twitter&#8599;&#xFE0E;</a>&nbsp;
      <a href="https://www.linkedin.com/in/john-hadaway-2b6935186/" target="_blank">Linkedin&#8599;&#xFE0E;</a>&nbsp;
      <a class=""href="mailto:john@johnhadaway.com?subject = [subject]" target="_blank">Email&#8599;&#xFE0E;</a>&nbsp;
    </span>

    <div class="default-content">

      {% assign projects =  site.projects | reverse %}
      {% assign i = 0 %}


      <div class="page-container padding-side margin-bottom">
        {% for project in projects %}
          {% if i == 0 %}
              <div class="col-50 col-float-middle col-content margin-top project-col">
                  {% if project.cover-image %} 
                    {% if project.external-url %} 
                      <a href={{project.external-url}} target="_blank"><img src={{site.baseurl}}{{project.cover-image}}></a>
                    {% elsif project.display %} 
                      <a href={{project.url}}><img src={{site.baseurl}}{{project.cover-image}}></a>
                    {% else %}
                      <img src={{site.baseurl}}{{project.cover-image}}>
                    {% endif %}
                  {% endif %}
                  <p class="content-description thin-weight text-align-left" id="{{project.id}}"><b class="bold-weight">{{project.title}} {% if project.organisation %}[{{project.organisation}}]{% endif %} [{{project.year-completed}}]</b><br>
                  {{project.description}} {% if project.external-url %}<a href="{{project.external-url}}" target="_blank">{{project.external-url-name}}&#8599;&#xFE0E;</a>{% endif %}
                  </p>
              </div>
          {% else %}
              <div class="col-50 col-float-middle col-content project-col">
                  {% if project.cover-image %} 
                    {% if project.external-url %} 
                      <a href={{project.external-url}} target="_blank"><img src={{site.baseurl}}{{project.cover-image}}></a>
                    {% elsif project.display %} 
                      <a href={{project.url}}><img src={{site.baseurl}}{{project.cover-image}}></a>
                    {% else %}
                      <img src={{site.baseurl}}{{project.cover-image}}>
                    {% endif %}
                  {% endif %}
                  <p class="content-description thin-weight text-align-left" id="{{project.id}}"><b class="bold-weight">{{project.title}} {% if project.organisation %}[{{project.organisation}}]{% endif %} [{{project.year-completed}}]</b><br>
                  {{project.description}} {% if project.external-url %}<a href="{{project.external-url}}" target="_blank">{{project.external-url-name}}&#8599;&#xFE0E;</a>{% endif %}
                  </p>
              </div>
          {% endif %}
          {% assign i = i | plus:1 %}
         {% endfor %}
      </div>



    </div>


  </body>

</html>