main {
    max-width: 1000px;
    margin-top: 48px;
}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 48px;
}

.project img {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    border-radius: 4px;
}

.project p {
    margin-bottom: 8px;
}
