---
permalink: /projects/
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>John Hadaway</title>
    <link rel="stylesheet" href="{{site.baseurl}}/assets/style/main.css">
</head>
<body>
    <nav id="fixed-nav"><a href="{{site.baseurl}}/">{about}</a>&nbsp; <a class="current" href="">{projects}</a></nav>
    <div id="project-content-wrapper">
        {% assign projects =  site.projects | reverse %}

        {% for project in projects %}
        <div id="{{project.id}}" class="project">
            {% if project.cover-image %} 
                {% if project.external-url %} 
                    <img src={{site.baseurl}}{{project.cover-image}}>
                {% elsif project.display %} 
                    <img src={{site.baseurl}}{{project.cover-image}}>
                {% else %}
                    <img src={{site.baseurl}}{{project.cover-image}}>
                {% endif %}
            {% endif %}
            <p class="description" id="{{project.id}}"><b class="title">{{{project.title}} [{{project.year-completed}}]</b><br>
            {{project.description}} {% if project.external-url %}<a href="{{project.external-url}}" target="_blank">(More)</a> {% elsif project.display %}<a href="{{project.url}}">(More)</a>{% endif %}
        </div>
        {% endfor %}
    </div>  
</body>
</html>