html {
    overflow: hidden;
}

* {
    font-family: 'Open Sans', sans-serif;
    font-size: var(--font-size-bg);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

:root {
    --background: #ffffff;
    --fc-high: #0a0a0a;
    --fc-med: #4a4a4a;
    --fc-low: #6a6a6a;
    --fw-bold: 700;
    --fw-normal: 400;
    --fw-light: 300;
    --link-highlight: #0000EE;
    --font-size-bg: 12px;
    --font-size-sm: 10px;
    --font-size-xs: 8px;
}

#fixed-nav {
    position: fixed;
    background: none;
    z-index: 1;
    width: 100vw;
}

#content-wrapper {
    position: fixed;
    top: 0px;
    padding: 50px 0 100px 0;
    width: 40%;
    height: 95%;
    overflow: scroll;
    -ms-overflow-style: none;
}

#content-wrapper::-webkit-scrollbar {
    display: none;
}

#content-wrapper > p.first {
    margin-top: 0;
}

p {
    color: var(fc-med);
    font-weight: var(--fw-normal);
}

a, #fixed-nav > a {
    color: #0a0a0a;
    font-weight: var(--fw-bold);
    text-decoration: none;
}

#fixed-nav a.current {
    text-decoration: underline;
}


a:hover, #fixed-nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

p > a, p > i > a {
    color: var(--link-highlight);
    font-weight: var(--fw-normal);
    text-decoration: underline;
}

.project > a img, .project > img {
    width: 45%;
    display: block;
}

.project > p {
    width: 100%;
    margin-top: 6px;
}

.project {
    margin-bottom: 50px;
}

.project > .description {
    font-weight: var(--fw-light);
}

.project > .description > a {
    font-size: var(--font-size-sm);
}

.project > .description > b.title {
    font-weight: var(--fw-bold);
} 

ul {
    padding: 0;
    margin: 0;
    list-style-type: square;
}

ol {
    margin-block-start: 0;
    margin-block-end: 0;
}

li {
    margin-bottom: 3px;
}

sup {
    vertical-align: top; 
    font-size: var(--font-size-xs);
}

sup > a {
    font-size: var(--font-size-xs);
    line-height: 2px;
    color: var(--link-highlight);
    text-decoration: underline;
}

li > a, ol > li > p > strong > a {
    color: var(--link-highlight);
    font-weight: var(--fw-normal);
    text-decoration: underline;
    list-style-type: square;
}

li::marker {
    font-size: var(--font-size-bg);
}

ol > li > p, ol > li > p > strong > a{
    font-size: var(--font-size-bg);
}

.footnotes > * {
    font-size: var(--font-size-xs);
}

.writing.description {
    margin-top: 0;
    margin-bottom: 25px;
}

.last {
    margin-bottom: 75px;
}



/* make project full-width for mobile */
@media (max-width: 700px) {
    #content-wrapper, #project-content-wrapper {
        width: 95%;
        -ms-overflow-style: none;
    }

    .project > a img, .project > img {
        width: 100%;
    }
}
