@font-face {
    font-family: 'ft88';
    src: url('../font/ft88/FT88-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'ft88';
    src: url('../font/ft88/FT88-Bold.otf') format('opentype');
    font-weight: bold;
}

@font-face {
    font-family: 'ft88';
    src: url('../font/ft88/FT88-Italic.otf') format('opentype');
    font-style: italic;
}

@font-face {
    font-family: 'ft88-serif';
    src: url('../font/ft88/FT88-Serif.otf') format('opentype');
}

@font-face {
    font-family: 'authentic-sans';
    src: url('../font/authentic-sans/AUTHENTICSans-90.woff2') format('woff2');
}

@font-face {
    font-family: 'authentic-sans';
    src: url('../font/authentic-sans/AUTHENTICSans-150.woff') format('woff');
    font-weight: bold;
}


html {
    overflow: hidden;
}

* {
    font-family: var(--font-family-one);
    font-size: var(--font-size-bg);
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
}

:root {
    --background: #ffffff;
    --fc-high: #0a0a0a;
    --fc-med: #4a4a4a;
    --fc-low: #6a6a6a;
    --link-highlight: #0000EE;
    --font-size-bg: 11px;
    --font-size-sm: 11px;
    --font-size-xs: 11px;
    --font-family-one: 'authentic-sans';
    --font-family-two: 'authentic-sans';
}

#fixed-nav {
    position: fixed;
    background: none;
    z-index: 1;
    width: 100vw;
}

#content-wrapper {
    position: fixed;
    top: 0px;
    padding: 35px 0 100px 0;
    width: 50%;
    height: 95%;
    overflow: scroll;
    -ms-overflow-style: none;
}

#content-wrapper::-webkit-scrollbar {
    display: none;
}

#content-wrapper > p:first-child {
    margin-top: 0;
}

p {
    color: var(fc-med);
}

a {
    color: #0a0a0a;
}

#fixed-nav > a {
    color: #0a0a0a;
    font-weight: bold;
    text-decoration: none;
}

#fixed-nav a.current {
    text-decoration: underline;
}


a:hover, #fixed-nav a:hover {
    text-decoration: underline;
    cursor: pointer;
}

p > a, p > i > a {
    color: var(--link-highlight);
    text-decoration: underline;
}

p > img {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

p > img + em {
    font-family: var(--font-family-two);
    font-style: normal;
    display: block;
    width: 60%;
}

.project {
    margin-bottom: 30px;
}

.project > a img, .project > img {
    width: 100%;
    user-select: none;
}

.project > a {
    width: 45%;
    display: block;
    user-select: none;
}

.project > p {
    width: 100%;
    margin-top: 6px;
}

.project > .description {
    display: none;
}

.project > .description, .project > .meta {
    width: 70%;
}

.project > .description > a {
    font-size: var(--font-size-sm);
}

.project > .meta, .project > .meta > a {
    color: #000;
    text-decoration: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: square;
}

ol {
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 30px;
}

li {
    margin-bottom: 3px;
}

sup {
    vertical-align: top; 
    font-size: var(--font-size-xs);
}

sup > a {
    font-size: var(--font-size-xs);
    line-height: 2px;
    color: var(--link-highlight);
    text-decoration: underline;
}

li > a, ol > li > p > strong > a {
    color: var(--link-highlight);
    text-decoration: underline;
    list-style-type: square;
}

li::marker {
    font-size: var(--font-size-bg);
}

ol > li > p, ol > li > p > strong > a{
    font-size: var(--font-size-bg);
}

.footnotes > *, .footnotes > * > *, .footnotes > * > * > *, 
.footnotes > * > * > * > *, .footnotes > * > * > * > * > * {
    font-family: var(--font-family-two) !important;
}

.footnotes > * > * > * > * {
    font-family: var(--font-family-two) !important;
    font-weight: normal;
}

.writing.description {
    margin-top: 0 !important;
    margin-bottom: 10px;
}

.writing.description > * {
    font-family: var(--font-family-two) !important;
}

.last {
    margin-bottom: 75px;
}

.body-text > p {
    font-family: var(--font-family-two) !important;
}

@media (max-width: 800px) {
    #content-wrapper, #project-content-wrapper {
        width: 95%;
        -ms-overflow-style: none;
    }

    .project > a {
        width: 80%;
        display: block;
        user-select: none;
        touch-action: manipulation;
    }

    .project > .description, .project > .meta {
        width: 100%;
        touch-action: manipulation;
    }
}
