---
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page.short-title}}</title>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/style/main.css">
</head>
<body>
	<nav id="fixed-nav"><a href="{{site.baseurl}}/blog">[return]</a></nav>
	<div id="content-wrapper">
		<p class="writing description">
			<b class="title">{{page.long-title}}</b><br>
			{% if page.publication %}
				<span class="description">[{{page.display-date}}] [{{page.publication}}]</span>
			{% else %}
				<span class="description">[{{page.display-date}}]</span>
			{% endif %}
		</p>
		<div class="body-text last">
			{{page.content}}
		</div>
		<script>
			var reversefootnotes = document.querySelectorAll(".reversefootnote");
			for (var i = 0; i < reversefootnotes.length; i++) {
				reversefootnotes[i].innerHTML = "&#8617;&#xFE0E;";
			}
		</script>
</body>
</html>




